body
{
background-image:url(12.jpg);
}
h2{
	text-transform: uppercase;
	text-align: center;
	font-family: sans-serif;
}
ul.top {
    list-style-type: none;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color:black;
}

li.top {
    float: right;
}
li.top a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li.top a:hover {
    background-color: grey;
    color:white;
}

ul.inside{
    list-style-type: none;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    color:black;
    border-radius: 5px;
}

li.inside{
    float: left;
}
li.inside a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li.inside a:hover {
    background-color: black;
    color:white;
    font-family: times;
}
img.facebook{
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
div.div1{
	width: 1000px;
	height: 1000px;
	margin-top: 170px;
	margin-left: 140px;
	margin-right: 50px;
	position: absolute;
	
	
}
div.div2{
	background-color: lightgrey;
	width: 800px;
	height: 300px;
	position: absolute;
	margin-left: 100px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.6);
}
div.div3{
	background-color: white;
	width: 1000px;
	height: 800px;
	margin-top: 130px;
	border-radius: 5px;
	position: absolute;
}
div.glob{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 900px;
	height: 300px;
	border-radius: 5px;
}
div.ins{
 
	background-color:white;
	flex-direction: row;
	height: 250px;
	width: 500px;
	margin: 5px;
    border-radius: 5px;
}
a{
	color: red;
}
div.litle{
	border:3px solid black;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 10px;
	margin: 5px;
	font-family: sans-serif;
	display:inline-block;
	vertical-align: middle;
	transition-property: width, height;
	transition-duration: 2s;
}
div.litle:hover{
	height: 90px;
	width: 90px;
}

img{
	height: 60px;
	width: 60px;
	border-radius: 10px;
	transition-property: width, height;
	transition-duration: 2s;
}
img:hover{
	height: 88px;
	width: 88px;
	}
span{
	font-family: sans-serif;
	display:inline-block;
}
li.koa-icon{
	list-style-type: none;
	}
img.roger{
	margin-top: 0px;
	height: 80px;
	width: 60px;
	float: left;
	margin: 10px;
}
p.lincoln{
	size: 25px;

}

.aminity-icon > h2
{
	text-align: center;
}